@import "./layout.scss";

  .pagination {
    overflow-x: auto;
    z-index: -1 !important;
    button {
      padding: $spacing-xs $spacing-s;
      background-color: $blue;
      color: $white;
      border: 1px solid $white;
      border-radius: 3px;
      &.active {
        background-color: $white;
        color: $blue;
      }
    }
  }
